* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #f9a8d4;
  font-family: "Roboto", sans-serif;
}

h1 {
  background: #f8f6f6;
  border-bottom: 5px solid #be185d;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

button {
  background: #be185d;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #f8f6f6;
  font-size: 16px;
  height: 30px;
  margin: 0 5px;
  outline: none;
  transition: 0.5s;
  width: 100px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 26px;
  padding: 5px 0;
}

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#connection-count {
  line-height: 30px;
  margin-top: 50px;
}

#choices {
  margin-top: 20px;
}

#votes {
  line-height: 30px;
  margin-top: 20px;
}

#personal-vote {
  background: #be185d;
  border: 5px solid #be185d;
  border-radius: 5px;
  color: #f8f6f6;
  display: none;
  font-size: 17px;
  position: absolute;
  right: 15%;
  top: 32%;
  height: 100px;
  width: 100px;
  padding-top: 15px;
  text-align: center;
}

#votes {
  align-items: center;
  background: #f8f6f6;
  border: 5px solid #be185d;
  border-radius: 3px;
  display: flex;
  font-size: 20px;
  height: 200px;
  justify-content: center;
  line-height: 40px;
  margin-top: 50px;
  width: 240px;
}

@media screen and (max-width: 770px) {
  #personal-vote {
    right: 12%;
    top: 33%;
  }
}

@media screen and (max-width: 415px) {
  #choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  button {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 10px;
    width: 130px;
  }
  #connection-count {
    margin-top: 20px;
  }
  #votes {
    height: 150px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    width: 180px;
  }
  #personal-vote {
    top: 75%;
    right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  button {
    height: 30px;
    margin: 6px;
    width: 100px;
  }
  #personal-vote {
    top: 80%;
  }
}
